<!DOCTYPE html>
<html>
    <head>
        <meta charsete="utf-8">
        <title>Fitter</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    </head>

    <body>
        {% include "include/_navbar.html" %}        
        <p>
        <div class="container">
            {% block body %}{% endblock %}
        </div>
        <p>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    </body>
</html>